@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: st;
  src: url(/Vite-Portfolio/Fonts/curse.woff2);
}
@font-face {
  font-family: tilt;
  src: url(/Vite-Portfolio/Fonts/Inferi.woff2.otf);
}
@font-face {
  font-family: uk;
  src: url(/Vite-Portfolio/Fonts/Tilt.woff2.otf);
}

@font-face {
  font-family: font;
  src: url(/Vite-Portfolio/Fonts/ClashGrotesk-Regular.woff2);
}
html{
  scroll-behavior: smooth;
}
:root {
  font-family: font, 'sans-serif';
  line-height: 1.15;

  color-scheme: light dark;
  color: #ffffff;
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #0f1116;
  --secondary: #11151f;
  --border--primary: #404246;
  --border--secondary: #273550;
  --purple: #6e40c9;
  --green: #97ee81;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading--para{
  color: var(--green);
}
body {
  overflow-x: hidden;
}
.dot::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 5px;
}
.main--title {
  line-height: 1;
}
.ball1 {
  animation: ball1 infinite 1s ease-in-out;
}
.ball2 {
  animation: ball1 infinite 1s ease-in-out;
  animation-delay: -0.2s;
}
.ball3 {
  animation: ball1 infinite 1s ease-in-out;
  animation-delay: -0.4s;
}
@keyframes ball1 {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1.3;
  }
  100% {
    scale: 0.8;
  }
}
.homesection--ball{
  background: var(--secondary);
}

.marquee-fade {
  position: absolute;
  top: 0;
  background-image: linear-gradient(to right, var(--primary) 5%, transparent 10%, transparent 50%, transparent 90%, var(--primary) 95%);
  z-index: 90;
}
.rotate--svg {
  animation: rotatePlanet 3s infinite linear;
}
@keyframes rotatePlanet {
  0%{
    transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.blur--blob{
  filter: blur(100px);
}
.project--link{
  position: relative;
}
.project--link::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eee;
  transition: 300ms;
}
.project--link:hover::after{
  width: 100%;
}
input:focus {
  outline: none;
  border-color: #6e40c9;
}