@media (max-width: 1158px) {
    .footer--area--content{
        width: 94vw;
    }
    .home-section-content{
        font-size: 4rem;
    }
}
@media (max-width: 991px){
    .footer--area--content{
        flex-direction: column;
        gap: 14px;
        align-items: flex-start;
        width: 80vw;
    }
}
@media (max-width: 860px) {
    .home-section-content{
        font-size: 4rem;
        width: 90vw;
    }
    .blur--blob{
        width: 180px;
        height: 180px;
        filter: blur(40px);
    }
    .main--img{
        width: 95vw;
    }
    .side--img{
        height: 30vh;
    }
    .project--content{
        font-size: 3vw;
    }
    .project--link {
        font-size: 3.6vw;
    }
    .single--project--content{
        padding-bottom: 50px;
        padding-inline: 30px;
    }
    .single--project--content--container{
        flex-direction: column;
        gap: 40px;
    }
    .description {
        width: 100%;
    }
    .description--para{
        font-size: 1.3rem;
    }
    .single--project--heading{
        font-size: 1.3rem;
    }
}
@media (max-width: 600px){
    .home-section-content{
        font-size: 3rem;
    }
    .project--heading{
        font-size: 14vw;
    }
    .blur--blob{
        display: none;
    }
    .main--img > img{
        border-radius: 6px;
    }
    .side--img{
        bottom: auto;
        top: 50%;
        transform:
    translateY(-80%);
        width: 30vw;
        height: auto;
    }
    .project--content--container{
        width: 80vw;
    }
    .project--content{font-size: 1.3rem}
    .footer--area{
        height: 30vh;
        justify-content: flex-start;
        padding-left: 15px;
    }
    .links--span{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
    .links--span > span{
        padding: 0;
    }
    .footer--area--content{
        gap: 30px;
    }
    .footer--button{
        padding-inline: 10px;
    }
    .project--container{
        margin-block: 50px;
    }
    .form--heading{
        font-size: 14px;
    }
    .contact--area{
        width: 100vw;
    }
    .contact--input{
        width: 80vw;
    }
    .contact--button{
        padding-inline: 40px;
    }
    .project--link{
        font-size: 5vw;
    }
    .main--title{
        padding-inline: 10px;
    }
    .AppScroll{
        height: 40vh;
    }
    .single--project--btn{
        padding: 10px;
    }
}
@media (max-width: 420px){
    .home-section-content{
        font-size: 2.6rem;
    }
    .description {
        font-size: 28px;
    }
}